@font-face {
  font-family: "H_black";
  src: url("../fonts/Heebo-Black.ttf");
}

@font-face {
  font-family: "H_Bold";
  src: url("../fonts/Heebo-Bold.ttf");
}

@font-face {
  font-family: "H_Medium";
  src: url("../fonts/Heebo-Medium.ttf");
}

@font-face {
  font-family: "H_Regular";
  src: url("../fonts/Heebo-Regular.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeue Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: #000;
}

button, button:hover, .btn:hover, .btn {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  min-width: 1200px;
}

@media (max-width: 1200px) {
  .container {
    min-width: 95% !important;
  }
}

.card {
  border: 1px solid #e9eef6;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 0px;
  padding: 0 !important;
}

.card-body.py {
  padding: 5px 0px !important;
}

.card-body.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .card-body.center {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 767px) {
  .card-body.center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 1200px) {
  .card-body {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

@media (max-width: 767px) {
  .card-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card-body a {
  font-size: 1rem;
}

.card-body a.btn {
  margin: 0px 4px;
  margin-bottom: 5px;
  border: 1px solid #e9eef6;
  font-family: "H_Bold";
  color: #1779ba;
  padding: 5px;
  border-radius: 6px;
}

@media (max-width: 767px) {
  .card-body a.btn {
    font-size: 10px;
  }
}

.collapse .card-body {
  position: relative;
  padding: 10px 15px;
}

.modal-header .modal-title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.modal-header .close {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  margin-top: -15px;
}

.modal-footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body {
  font-family: "H_Regular";
  font-size: 14px;
}

#search .container .search_bar_content {
  min-height: 90px;
}

#search .container .search_bar_content .search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #search .container .search_bar_content .search_bar {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#search .container .search_bar_content .search_bar .translate {
  background: #3b98de;
  color: #fff;
  border-radius: 50px;
  padding: 9px 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  #search .container .search_bar_content .search_bar .translate {
    font-size: 12px;
    padding: 11.5px 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #search .container .search_bar_content .search_bar .translate {
    padding: 6.5px 15px;
  }
}

#search .container .search_bar_content .search_bar .group {
  position: relative;
  margin: 0px 15px;
}

#search .container .search_bar_content .search_bar .group .search_btn {
  position: absolute;
  left: 0px;
  z-index: 1;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  background: #1779ba;
  color: #fff;
  padding: 20px;
  border-radius: 50px;
  height: 100%;
  line-height: 0px;
}

@media (max-width: 767px) {
  #search .container .search_bar_content .search_bar .group .search_btn {
    font-size: 12px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #search .container .search_bar_content .search_bar .group .search_btn {
    padding: 15px;
  }
}

#search .container .search_bar_content .search_bar .group .search_input {
  min-width: 600px;
  border-radius: 25px;
  outline: none;
  border: none;
  height: 40px;
  border: 1px solid #ddd;
  padding-left: 80px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #search .container .search_bar_content .search_bar .group .search_input {
    min-width: 50px;
    padding-left: 65px;
    height: 30px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #search .container .search_bar_content .search_bar .group .search_input {
    min-width: 270px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #search .container .search_bar_content .search_bar .group .search_input {
    min-width: 350px;
  }
}

#search .container .search_bar_content .search_bar .google img {
  width: 95%;
}

#search .container .search_bar_content .brand_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 0px;
}

@media (max-width: 767px) {
  #search .container .search_bar_content .brand_logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  #search .container .search_bar_content .brand_logo {
    margin: 15px 0px;
  }
}

/* ======= News Feed =========== */
#newsfeed {
  margin: 8px 0px;
  margin-top: 0px;
}

@media (max-width: 767px) {
  #newsfeed {
    margin: 10px 0px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #newsfeed {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  #newsfeed nav {
    margin: 0px 15px !important;
  }
}

#newsfeed nav .nav.nav-tabs {
  border: none;
  margin-right: -4px;
}

#newsfeed nav .nav.nav-tabs .nav-item {
  background-color: #e9edf6;
  margin: 0px 4px;
  color: #000;
  font-family: "H_Medium";
  text-transform: uppercase;
  border-bottom: 1px solid #e9eef6;
  font-size: 14px;
}

#newsfeed nav .nav.nav-tabs .nav-item.nav-link {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 2px 12px;
  border-bottom: 1px solid rgba(46, 37, 37, 0.199);
}

#newsfeed nav .nav.nav-tabs .nav-item.nav-link.active {
  color: #1779ba;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid rgba(46, 37, 37, 0.199);
}

#newsfeed .tab-content {
  background-color: #e9edf6;
  padding: 0px 15px;
}

@media (max-width: 767px) {
  #newsfeed .tab-content {
    margin: 0px 15px !important;
  }
}

#newsfeed .tab-content .tab-pane {
  padding: 0px 15px;
}

#newsfeed .tab-content .tab-pane .content_inner .left_txt, #newsfeed .tab-content .tab-pane .content_inner .right_txt {
  font-family: "H_Bold";
  font-size: 15px;
  line-height: 22.5px;
}

@media (max-width: 1200px) {
  #newsfeed .tab-content .tab-pane .content_inner .left_txt, #newsfeed .tab-content .tab-pane .content_inner .right_txt {
    font-size: 10px;
    line-height: 10px;
  }
}

#newsfeed .tab-content .tab-pane .content_inner .news_slider {
  font-family: "H_Medium";
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 480px) {
  #newsfeed .tab-content .tab-pane .content_inner .news_slider {
    font-size: 12px;
  }
}

#newsfeed .tab-content .tab-pane .content_inner .news_slider .slide {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 320px) and (max-width: 480px) {
  #newsfeed .tab-content .tab-pane .content_inner .news_slider .slide .news_brand img {
    width: 70px;
  }
}

#newsfeed .tab-content .tab-pane .content_inner .news_slider .slide .txt {
  text-align: right;
  color: #39383A;
}

@media (max-width: 767px) {
  #newsfeed .tab-content .tab-pane .content_inner .news_slider .slide .txt {
    font-size: 10px;
  }
}

#newsfeed .tab-content .tab-pane .content_inner .news_slider .slide .txt:hover {
  font-weight: bold;
  cursor: pointer;
}

#newsfeed .tab-content .tab-pane .content_inner .right_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}

#newsfeed .tab-content .tab-pane .content_inner .right_txt::after {
  content: '';
  position: absolute;
  right: 90px;
  top: 0px;
  width: 1px;
  height: 90%;
  background-color: #000;
}

@media (max-width: 1200px) {
  #newsfeed .tab-content .tab-pane .content_inner .right_txt::after {
    right: 50px;
  }
}

@media (max-width: 767px) {
  #newsfeed .tab-content .tab-pane .content_inner .right_txt::after {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #newsfeed .tab-content .tab-pane .content_inner .right_txt::after {
    display: none;
  }
}

@media (max-width: 1024px) {
  .lg-s {
    display: block;
  }
  .lg-d {
    display: none;
  }
}

@media (min-width: 1025px) {
  .lg-s {
    display: none;
  }
  .lg-d {
    display: block;
  }
}

.slick-slide {
  outline: none;
}

.content_inner .col-md-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p {
  padding: 0 !important;
}

.slick-track .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ======= End of News  Feed =========== */
/* ======= =========== */
/* ======= =========== */
/* ================== */
/* ======= =========== */
/* ======= Accordion =========== */
main .col-lg-9 .accordion .card_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e9eef6;
  padding: 10px 0px;
  border-radius: 5px;
  overflow: visible;
  width: 100%;
}

@media (max-width: 767px) {
  main .col-lg-9 .accordion .card_box {
    margin-left: 0px;
    padding-right: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  main .col-lg-9 .accordion .card_box {
    padding: 10px 12px;
  }
}

main .col-lg-9 .accordion .card_box .card-header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: none;
  padding: 0px 15px;
  position: relative;
}

@media (max-width: 767px) {
  main .col-lg-9 .accordion .card_box .card-header {
    padding: 5px 0px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 15px;
  }
}

main .col-lg-9 .accordion .card_box .card-header::after {
  content: '';
  position: absolute;
  left: -15px;
  width: 2px;
  height: 80%;
  background-color: #ddd;
}

@media (max-width: 767px) {
  main .col-lg-9 .accordion .card_box .card-header::after {
    display: none;
  }
}

main .col-lg-9 .accordion .card_box .card-header .align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 576px) {
  main .col-lg-9 .accordion .card_box .card-header .align {
    right: 2px !important;
  }
}

main .col-lg-9 .accordion .card_box .card-header .align.three {
  right: 3px;
}

main .col-lg-9 .accordion .card_box .card-header .align.four, main .col-lg-9 .accordion .card_box .card-header .align.five, main .col-lg-9 .accordion .card_box .card-header .align.eight, main .col-lg-9 .accordion .card_box .card-header .align.nine {
  right: 5px;
}

@media (max-width: 767px) {
  main .col-lg-9 .accordion .card_box .card-header .align.four, main .col-lg-9 .accordion .card_box .card-header .align.five, main .col-lg-9 .accordion .card_box .card-header .align.eight, main .col-lg-9 .accordion .card_box .card-header .align.nine {
    right: 0px;
  }
}

main .col-lg-9 .accordion .card_box .card-header .align.six {
  right: 8px;
}

@media (max-width: 767px) {
  main .col-lg-9 .accordion .card_box .card-header .align.six {
    right: 0px;
  }
}

main .col-lg-9 .accordion .card_box .card-header .align.seven {
  right: 6px;
}

main .col-lg-9 .accordion .card_box .card-header .align.ten, main .col-lg-9 .accordion .card_box .card-header .align.sixty {
  right: -9px;
}

main .col-lg-9 .accordion .card_box .card-header .align.eleven {
  right: -4px;
}

main .col-lg-9 .accordion .card_box .card-header .align.twelve {
  right: -16px;
}

main .col-lg-9 .accordion .card_box .card-header .align.thirty {
  right: -5px;
}

main .col-lg-9 .accordion .card_box .card-header .align.fourty, main .col-lg-9 .accordion .card_box .card-header .align.fifty {
  right: -10px;
}

main .col-lg-9 .accordion .card_box .card-header .align.seventy, main .col-lg-9 .accordion .card_box .card-header .align.eighty {
  right: -12px;
}

@media (max-width: 767px) {
  main .col-lg-9 .accordion .card_box .card-header .align.one, main .col-lg-9 .accordion .card_box .card-header .align.two, main .col-lg-9 .accordion .card_box .card-header .align.three, main .col-lg-9 .accordion .card_box .card-header .align.four, main .col-lg-9 .accordion .card_box .card-header .align.six, main .col-lg-9 .accordion .card_box .card-header .align.seven, main .col-lg-9 .accordion .card_box .card-header .align.eight, main .col-lg-9 .accordion .card_box .card-header .align.nine, main .col-lg-9 .accordion .card_box .card-header .align.ten, main .col-lg-9 .accordion .card_box .card-header .align.eleven, main .col-lg-9 .accordion .card_box .card-header .align.twelve, main .col-lg-9 .accordion .card_box .card-header .align.thirty, main .col-lg-9 .accordion .card_box .card-header .align.fourty, main .col-lg-9 .accordion .card_box .card-header .align.fifty, main .col-lg-9 .accordion .card_box .card-header .align.sixty, main .col-lg-9 .accordion .card_box .card-header .align.seventy, main .col-lg-9 .accordion .card_box .card-header .align.eighty {
    right: 0px;
  }
}

main .col-lg-9 .accordion .card_box .card-header .align .category_name {
  text-align: right;
}

main .col-lg-9 .accordion .card_box .card-header .align .category_name a {
  color: #0056B3;
  font-family: "H_Medium";
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

main .col-lg-9 .accordion .card_box .card-header .align .category_name a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  main .col-lg-9 .accordion .card_box .card-header .align .category_name a {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 576px) {
  main .col-lg-9 .accordion .card_box .card-header .align .category_name a {
    font-size: 12px;
    line-height: 8px;
  }
}

main .col-lg-9 .accordion .card_box .card-header .align .btn-link {
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 2px 5px 0 5px;
  font-weight: 900;
  margin-left: 10px;
  color: #3b98df;
  border: 1px solid #3b98df;
  position: relative;
  margin-left: 5px;
}

@media (max-width: 767px) {
  main .col-lg-9 .accordion .card_box .card-header .align .btn-link {
    padding: 10px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
  }
}

main .col-lg-9 .accordion .card_box .card-header .align .btn-link.btn {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .col-lg-9 .accordion .card_box .card-header .align .btn-link:hover, main .col-lg-9 .accordion .card_box .card-header .align .btn-link:focus, main .col-lg-9 .accordion .card_box .card-header .align .btn-link:active, main .col-lg-9 .accordion .card_box .card-header .align .btn-link:focus {
  text-decoration: none;
  outline: none;
}

main .col-lg-9 .accordion .card_box .card-header .align .btn-link::after {
  position: absolute;
  content: '\f068';
  right: 25%;
  top: 50%;
  -webkit-transform: translate(15%, -50%);
          transform: translate(15%, -50%);
  font-family: 'Font Awesome\ 5 Free';
  background-color: #1779ba;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
}

@media (max-width: 767px) {
  main .col-lg-9 .accordion .card_box .card-header .align .btn-link::after {
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 8px;
    left: 2px;
  }
}

main .col-lg-9 .accordion .card_box .card-header .align .btn-link::before {
  content: '';
  position: absolute;
  -webkit-transform: skew(-35deg);
          transform: skew(-35deg);
  height: 100%;
  width: 50%;
  left: 90%;
  top: 0;
}

main .col-lg-9 .accordion .card_box .card-header .align .btn-link.collapsed::after {
  content: '\f067';
}

.card_pannel {
  margin-left: -15px !important;
  margin-right: 15px !important;
  margin-bottom: 10px;
  border: 1px solid #e9eef6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'H_Medium','Roboto Slab', serif,Arial,sans-serif;
  padding: 15px;
  font-size: 13px;
  line-height: 19.5px;
  color: #2D2B2C;
}

@media (max-width: 767px) {
  .card_pannel {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin: 0px !important;
    margin-bottom: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card_pannel {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card_pannel .d-flex {
  padding: 0px 6px;
}

@media (max-width: 1024px) {
  .card_pannel .d-flex {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 767px) {
  .card_pannel .d-flex {
    margin: auto;
    padding-top: 5px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .card_pannel .d-flex {
    overflow-x: scroll;
  }
}

.card_pannel .d-flex .items {
  margin: 0px 2px;
}

.card_pannel .d-flex .items .item {
  border-radius: 2px;
  background-color: #e9edf6;
  width: 125px;
  margin: 2px -1px;
  padding: 8px 10px;
  position: relative;
}

@media (max-width: 576px) {
  .card_pannel .d-flex .items .item {
    font-size: 10px;
    width: 130px;
    padding: 10px;
  }
}

.card_pannel .d-flex .items .item > div {
  text-align: center;
  margin-left: -20px;
}

.card_pannel .d-flex .items .item .d-inline .ml {
  margin-left: 8px;
}

.card_pannel .d-flex .items .item .txt {
  display: inline-block;
}

@media (max-width: 576px) {
  .card_pannel .d-flex .items .item span img {
    margin-right: 2px !important;
  }
}

.card_pannel .d-flex .items .item span:last-child {
  position: absolute;
  right: 5px;
  top: 4px;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
}

.card_pannel .d-flex .items .item span:last-child i {
  color: #1779ba;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transform: translate(2px, 0px);
          transform: translate(2px, 0px);
}

.card_pannel .d-flex .items .item .sym {
  border: 2px solid #2e62ad;
  border-radius: 100%;
  padding: 0;
  margin: 0px;
  background-color: white;
  color: #2e62ad;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.card_pannel .d-flex .items .item .sym:hover {
  background: #1779ba;
}

.card_pannel .d-flex .items .item .sym:hover i {
  color: #fff;
}

.card_pannel .d-flex .items .item .sym i {
  font-size: 12px;
}

.card_pannel .multi {
  border-left: 1px solid #e9eef6;
  border-top: 0;
  border-bottom: 0;
  padding: 0px 6px;
  width: 150%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .card_pannel .multi {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .card_pannel .multi {
    border-left: none;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e9eef6;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card_pannel .multi {
    margin: auto;
    border-left: none;
    margin: 10px 0px;
  }
}

.card_pannel .multi li {
  margin: 0px 10px;
  text-align: center;
}

.card_pannel .multi li a:hover {
  text-decoration: underline;
}

.card_pannel .multi li a.cloud .txt {
  color: #3b98de;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.card_pannel .multi li a.cloud:hover {
  text-decoration: none;
}

.card_pannel .multi li a .txt {
  font-size: 13px;
  font-family: "H_Medium";
  text-transform: capitalize;
  margin-top: 5px;
  color: #2D2B2C;
}

@media (min-width: 320px) and (max-width: 480px) {
  .card_pannel .multi li a .txt {
    font-size: 10px;
  }
}

.card_pannel .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #e9eef6;
  padding: 0px 8px;
}

@media (max-width: 1024px) {
  .card_pannel .date {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border: none;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .card_pannel .date {
    border-bottom: 1px solid #e9eef6;
  }
}

.card_pannel .date .d-month {
  font-size: 24px;
  line-height: 36px;
  font-family: "H_Bold";
  color: #3b98de;
}

.calculator_box {
  width: 450px;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  padding: 15px 12px;
  -webkit-transition: all 0.9s linear;
  transition: all 0.9s linear;
  top: 0;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  display: none;
}

.calculator_box.open {
  opacity: 1;
  display: block;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  pointer-events: all;
}

.calculator_box.close {
  opacity: 0;
}

@media (max-width: 991px) {
  .calculator_box {
    top: 155px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@media (max-width: 767px) {
  .calculator_box {
    top: 150px;
    left: 50px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .calculator_box {
    width: 290px;
    top: 110px;
    left: 80px;
  }
}

.calculator_box .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e9eef6;
  padding-bottom: 10px;
  height: 20%;
  font-family: "H_Bold";
}

.calculator_box .top .txt {
  font-size: 1rem;
}

.calculator_box .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.calculator_box .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 20%;
  border-top: 1px solid #e9eef6;
  padding-top: 10px;
}

.calculator_box .bottom .btn {
  background: #6c757d;
  color: #fff;
  font-family: "H_Bold";
}

/* ======= End of Accordion =========== */
/* ======= Side bar =========== */
.col-lg-3.sidebar_right {
  padding: 0 !important;
}

@media (max-width: 991px) {
  .col-lg-3.sidebar_right .sidebar-item {
    position: relative;
  }
}

@media (max-width: 991px) {
  .col-lg-3.sidebar_right .sidebar-item .make-me-sticky {
    position: static;
    top: 0;
  }
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .reg_btn {
  text-align: center;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .col-lg-3.sidebar_right .sidebar-item .make-me-sticky .reg_btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .reg_btn .btn {
  background-color: #fcb815;
  display: inline-block;
  margin: 0px 1px;
  width: 100%;
  height: 45px;
  border-radius: 5px 0px 0px 5px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .reg_btn .btn.log {
  border-radius: 0px 5px 5px 0px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .col-lg-3.sidebar_right .sidebar-item .make-me-sticky .reg_btn .btn {
    margin: 0;
    margin: 10px 2px;
  }
}

@media (max-width: 1024) {
  .col-lg-3.sidebar_right .sidebar-item .make-me-sticky .reg_btn .btn {
    margin: 10px 2px;
  }
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .reg_btn .btn a {
  font-size: 18px;
  line-height: 27px;
  padding: 30px;
  color: #fff;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .sign.card {
  padding: 0px;
  border: 1px solid #e9eef6;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .sign .sign_btn a {
  font-size: 1.2rem;
  font-family: "H_Bold";
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .sign .sign_btn a.btn {
  background-color: #3b98de;
  color: #fff;
  padding: 15px;
  border-radius: 0px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .sign .sign_content {
  padding: 16px 10px;
  background-color: #e9edf6;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .sign .sign_content .txt {
  font-size: 16px;
  line-height: 26px;
  font-family: "H_Medium";
  color: #1779ba;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .sign .sign_content .sign_btn {
  background-color: #1779ba;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 30px;
  color: #fff;
  margin: auto;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .sign .sign_content_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .sign .sign_content_row .btn {
  margin: 0px 4px;
  margin-bottom: 5px;
  border: 1px solid #e9eef6;
  font-family: "H_Bold";
  color: #1779ba;
  position: relative;
  padding: 5px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .sign .sign_content_row .btn .close {
  position: absolute;
  font-size: 0.8em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  background-color: #8faad2;
  top: -10px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .sign .sign_content_bottom {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .sign .sign_content_bottom span {
  font-family: "H_Bold";
  font-size: 1.2rem;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .bank {
  border-radius: 0px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .bank.card {
  padding: 0px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .bank .bank_btn a {
  font-size: 18px;
  line-height: 27px;
  font-family: "H_Bold";
  border-radius: 0px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .bank .bank_btn a.btn {
  background-color: #3b98de;
  color: #fff;
  padding: 15px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .bank .bank_content {
  padding: 10px 4px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .bank .bank_content .bnk_items .bnk_item {
  margin: auto;
  border: 1px solid #e9eef6;
  padding: 5px;
  border-radius: 5px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .bank .bank_content .bnk_items .bnk_item .bnk_link img {
  border-radius: 6px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .search {
  overflow: hidden;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .search .search_btn {
  background-color: #3b98de;
  padding: 10px 0px;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .search .search_btn a {
  color: #fff;
  font-size: 1.2rem;
  font-family: "H_Bold";
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .search .search_content nav .nav-tabs .nav-item {
  width: 33.33%;
  border-left: 1px solid #e9eef6;
  border-right: 1px solid #e9eef6;
}

.col-lg-3.sidebar_right .sidebar-item .make-me-sticky .search .search_content nav .nav-tabs .nav-item.active {
  background-color: #a2cff0;
}

.search_mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
}

.search_mark .mark {
  background-color: inherit;
}

.search_mark .mark .txt {
  font-size: 1rem;
  font-family: "H_Medium";
}

input.search_input {
  padding: 10px 0px;
  padding-left: 20px;
  border: 1px solid #e9eef6;
  overflow: hidden;
  font-size: 12px;
}

input.search_input:focus {
  outline: none;
}

input.search_input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.651);
}

input.search_input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.651);
}

input.search_input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.651);
}

input.search_input::placeholder {
  color: rgba(0, 0, 0, 0.651);
}

.dep {
  font-size: 14px;
  font-family: "H_Medium";
}

.d-cal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin-bottom: 5px;
}

.d-cal .icon {
  position: absolute;
  z-index: 3;
  margin-left: 5px;
  margin-top: 2px;
}

.d-cal .icon i {
  font-size: 12px;
}

.d-cal select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align-last: right;
  padding: 0px 5px;
  position: relative;
}

.d-cal select#month {
  width: 90px;
}

.d-cal select.date {
  width: 55px;
}

.d-cal select::before {
  content: '\f078';
  position: absolute;
  left: 0px;
  right: 0px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.tab-pane {
  padding: 10px 15px;
}

.tab-pane .btn {
  background-color: #3b98de;
  color: #fff;
  font-size: 14px;
  margin: 15px 0px;
  font-family: "H_Medium";
  text-transform: uppercase;
}

.card {
  border: 1px solid #e9eef6;
}

/* ======= End of Side Bar=========== */
/* ======= Footer =========== */
footer {
  background-color: #1779ba;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  footer {
    min-height: 70px;
  }
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 767px) {
  footer .links.s_links {
    margin-top: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  footer .links.s_links {
    margin: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  footer .links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

footer .links .link_item {
  margin: 0px 16px;
}

footer .links .link_item:first-child {
  margin-left: 0px;
}

@media (max-width: 767px) {
  footer .links .link_item {
    margin: 0px 8px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  footer .links .link_item {
    margin: 0px 4px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer .links .link_item {
    margin: 0 8px;
  }
}

footer .links .link_item a {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-family: "H_Medium";
}

footer .links .link_item a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  footer .links .link_item a {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  footer .links .link_item a {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer .links .link_item a {
    font-size: 16px;
  }
}

footer .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  footer .col-md-4 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* ======= End of Footer =========== */
