main{
    .col-lg-9{
        .accordion{

            .card_box{
                display: flex;
                border: 1px solid #e9eef6;
                padding: 10px 0px;
                border-radius: 5px;
                overflow: visible;
                width: 100%;
                @media(max-width: 767px) {
                    margin-left: 0px;
                    padding-right: 5px;
                }
                @include tablets_potrait{
                    padding:  10px 12px;
                }
            
                .card-header{
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: none;
                    padding: 0px 15px;
                    position: relative;
                    @media(max-width: 767px){
                        padding: 5px 0px;
                        // margin: 0px -5px;
                        justify-content: flex-end;
                        padding-right: 15px;
                        // border: 1px solid;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        left: -15px;
                        width: 2px;
                        height: 80%;
                        background-color: #ddd;
                        @media(max-width: 767px) {
                            display: none;
                        }
                    }
                    .align{
                        align-items: center;
                        position: relative;
                        @media(max-width: 576px) {
                            right: 2px !important;
                        }
                        &.three{
                            right: 3px;
                        }
                        &.four,
                        &.five,
                        &.eight,
                        &.nine{
                            right: 5px;
                            @media(max-width: 767px) {
                                right: 0px;
                            }
                        }
                        &.six{
                            right: 8px;
                            @media(max-width: 767px) {
                                right: 0px;
                            }
                        }
                        &.seven{
                            right: 6px;
                        }
                        &.ten,
                        &.sixty{
                           right: -9px;
                        }
                        &.eleven{
                            right: -4px;
                        }
                        &.twelve{
                           right: -16px;
                        }
                        &.thirty{
                          right: -5px;
                        }
                        &.fourty,
                        &.fifty{
                            right: -10px;
                        }
                        &.seventy,
                        &.eighty{
                            right: -12px;
                        }
                        // for medium device
                        &.one,
                        &.two,
                        &.three,
                        &.four,
                        &.six,
                        &.seven,
                        &.eight,
                        &.nine,
                        &.ten,
                        &.eleven,
                        &.twelve,
                        &.thirty,
                        &.fourty,
                        &.fifty,
                        &.sixty,
                        &.seventy,
                        &.eighty{
                            @media(max-width: 767px) {
                                right: 0px;
                            }
                        }
                        .category_name{
                            text-align: right;
                         a{
                             color: #0056B3;
                             font-family: font(medium);
                             font-size: 18px;
                             line-height: 22px;
                             white-space: nowrap; 
                             overflow: hidden;
                             text-align: left;
                             &:hover{
                                 text-decoration: underline;
                             }
                             @media(max-width:767px) {
                                 font-size: 14px;
                                 line-height: 16px;
                             }
                             @media(max-width:576px) {
                                 font-size: 12px;
                                 line-height: 8px;
                             }
                         }
                        }
     
                         .btn-link{
                             display: inline-block;
                             border-radius: 50%;
                             cursor: pointer;
                             height: 30px;
                             width: 30px;
                             padding: 2px 5px 0 5px;
                             font-weight: 900;
                             margin-left: 10px;
                             color: #3b98df;
                             border: 1px solid #3b98df;
                             position: relative;
                             margin-left: 5px;
                             @media(max-width:767px){
                                 padding: 10px;
                                 margin-left: 5px;
                                 width: 15px;
                                 height: 15px;
                             }
                             &.btn{
                                 outline: none !important;
                                 box-shadow: none;
                             }
                             &:hover,&:focus,&:active,&:focus {
                                 text-decoration: none;
                                 outline: none;
                             }
             
                             &::after{
                                 position: absolute;
                                 content: '\f068';
                                 right: 25%;
                                 top: 50%;
                                 transform: translate(15%,-50%);
                                 font-family: 'Font Awesome\ 5 Free';
                                 background-color: color(primary);
                                 width: 18px;
                                 height: 18px;
                                 line-height: 18px;
                                 border-radius: 50%;
                                 font-size: 10px;
                                 color: #fff;
                                 @media(max-width:767px){
                                     width: 12px;
                                     height: 12px;
                                     line-height: 12px;
                                     font-size: 8px;
                                     left: 2px;
                                 }
                             }
             
                             &::before{
                                 content: '';
                                 position: absolute;
                                 transform: skew(-35deg);
                                 height: 100%;
                                 width: 50%;
                                 left: 90%;
                                 top: 0;
                             }
             
                             &.collapsed{
                                 &::after{
                                     content: '\f067';
                                 }
                             }
                         }
                    }
                }
            }
        }
        
    }
    
}

.card_pannel{
    margin-left: -15px !important;
    margin-right: 15px !important;
    margin-bottom: 10px;
    border: 1px solid #e9eef6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'H_Medium','Roboto Slab', serif,Arial,sans-serif;
    padding: 15px;
    font-size: 13px;
    line-height: 19.5px;
    color: #2D2B2C;
    @media(max-width: 767px) {
        flex-flow: wrap;
        margin: 0px !important;
        margin-bottom: 10px !important;
    }
    @include tablets_potrait{
        flex-flow: wrap;
        justify-content: center;
    }
    @include mobiles_s{
    }
    .d-flex{
        padding: 0px 6px;
        @media(max-width: 1024px) {
            order: 3;
        }
        @media(max-width:767px) {
            margin: auto;
            padding-top: 5px;
        }
        @include mobiles_s{
           overflow-x: scroll;
        }
        .items{
            margin: 0px 2px;
            .item{
                border-radius: 2px;
                background-color: #e9edf6;
                width: 125px;
                margin: 2px -1px;
                padding: 8px 10px;
                position: relative;
                @media(max-width: 576px) {
                    font-size: 10px;
                    width: 130px;
                    padding: 10px;
                }
               
                & > div{
                    text-align: center;
                    margin-left: -20px;
                }
                .d-inline{
                    .ml{
                        margin-left: 8px;
                    }
                }
                .txt{
                    display: inline-block;
                }
                span{
                    img{
                        @media(max-width: 576px) {
                            margin-right: 2px !important;
                        }
                    }
                    &:last-child{
                        position: absolute;
                        right: 5px;
                        top: 4px;
                        width: 25px;
                        height: 25px;
                        text-align: center;
                        border-radius: 50%;
                        padding: 5px;
                        // line-height: 0px;

                        i{
                            color: color(primary);
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            transform: translate(2px,0px);
                        }
                    }
                }
                .sym{
                    border: 2px solid #2e62ad;
                    border-radius: 100%;
                    padding: 0;
                    margin: 0px;
                    background-color: white;
                    color: #2e62ad;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    &:hover{
                        background: color(primary);
                        
                        i{
                            color: #fff;
                        }
                    }
                    i{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .multi{
        border-left: 1px solid #e9eef6;
        border-top: 0;
        border-bottom: 0;
        padding: 0px 6px;
        width: 150%;
        justify-content: center;
        @media(max-width: 1024px) {
            order: 2;
        }
        @media(max-width: 767px) {
            border-left: none;
            padding-top: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #e9eef6;
        }
       
        @include mobiles_s {
            // border: none;
        }
        @include tablets_potrait{
            margin: auto;
            border-left: none;
            margin: 10px 0px;
        }
        li{
            margin: 0px 10px;
            text-align: center;
            a{
                    &:hover{
                        text-decoration: underline;
                    }
            &.cloud{
                .txt{
                    // font-size: 40px !important;
                    color: color(secondary);
                    font-family: 'Poppins', sans-serif;
                    font-weight: bold;
                }
                &:hover{
                    text-decoration: none;
                    
                }
            }        
            .txt{
                font-size: 13px;
                font-family: font(medium);
                text-transform: capitalize;
                margin-top: 5px;
                color: #2D2B2C;
                @include mobiles_s{
                    font-size: 10px;
                }
            }
          
            }
        }

    }
    .date{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: 1px solid #e9eef6;
        padding: 0px 8px;
        @media(max-width: 1024px) {
            order: 1;
            border: none;
            width: 100%;
        }
        @media(max-width: 767px){
        border-bottom: 1px solid #e9eef6;
        }

      .d-month{
          font-size: 24px;
          line-height: 36px;
          font-family: font(bold);
          color: color(secondary);
      }
    }
}


.calculator_box{
    width: 450px;
    background-color: #fff;
    z-index: 999;
    position: absolute;
    padding: 15px 12px;
    transition: all 0.9s linear;
    top: 0;
    transform: translateY(0px);
    display: none;
    &.open{
    opacity: 1;
    display: block;
    transform: translateY(80px);
        pointer-events: all;
    }
    &.close{
        
        opacity: 0;
    }
    @media(max-width: 991px) {
        top: 155px;
        left: 50%;
        transform: translate(-50%);
    }
@media(max-width: 767px){
    top: 150px;
    left: 50px;
}
@include mobiles_s{
    width: 290px;
    top: 110px;
    left: 80px;
}
    .top{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e9eef6;
        padding-bottom: 10px;
        height: 20%;
        font-family: font(bold);
        .txt{
            font-size: 1rem;
        }
    }
    .center {
        display: flex;
        align-items: center;
        height: 60%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .bottom{
        display: flex;
        align-items: flex-end;
        height: 20%;
        border-top: 1px solid #e9eef6;
        padding-top: 10px;

        .btn{
            background: #6c757d;
            color: #fff;
            font-family: font(bold);
        }
    }
}
   