*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
    &:hover{
        @extend a;
    }
    &:focus{
        @extend a;
    }

}

button,.btn{
    border: none;
    outline: none;
    box-shadow: none;
    &:hover{
        @extend button;
    }
}

$colors: (
    primary: #1779ba,
    secondary: #3b98de,
    brand: #fcb815,
    one: #a2cff0,
);
@function color($color_name) {
    @return
        map-get($colors,$color_name);  
}

$fonts:(
    bold: "H_Bold",
    medium: "H_Medium",
    regular: "H_Regular",
    normal: "H_black",
);
@function font($font_name) {
    @return
        map-get($fonts,$font_name);  
}


// media query
$desktop: 1281px;
$laptop: 1025px;
$tablet: 768px;
$mobile: 481px;
$s_mobile: 320px;


@mixin desktops {
    @media (min-width: #{$desktop}){
        @content;
    }
}

@mixin laptops {
    @media (min-width: #{$laptop}) and (max-width:1280px){
        @content;
    }
}
@mixin laptops_landscape {
    @media (min-width: #{$laptop}) and (max-width:1280px) and (orientation: landscape){
        @content;
    }
}

@mixin tablets_potrait {
    @media (min-width: #{$tablet}) and (max-width:1024px){
        @content;
    }
}

@mixin tablets_landscape {
    @media (min-width: #{$tablet}) and (max-width:1024px) and (orientation: landscape){
        @content;
    }
}

@mixin mobiles {
    @media (min-width: #{$mobile}) and (max-width:767px){
        @content;
    }
}
@mixin mobiles_landscape {
    @media (min-width: #{$mobile}) and (max-width:767px) and (orientation: landscape){
        @content;
    }
}

@mixin mobiles_s {
    @media (min-width: #{$s_mobile}) and (max-width:480px){
        @content;
    }
}

@mixin mobiles_s_landscape {
    @media (min-width: #{$s_mobile}) and (max-width:480px) and (orientation: landscape){
        @content;
    }
}


// .container{
//     min-width: 1450px;
//     @media (max-width:1200px) {
//         min-width: 95% !important;
//     }
// }
.card{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid grey;
}
.card-body{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0px;
    &.py{
        padding: 5px 20px !important;
    }
    &.center{
        justify-content: center;
        @media(max-width:1200px){
            flex-flow: wrap;
            flex-direction: row;
        }
        @media(max-width:767px){
            flex-direction: row;
        }
    }
    @media(max-width:1200px){
        flex-flow: wrap;
    }
    @media(max-width:767px){
        flex-direction: row;
    }
    // @include mobiles_s{
    //     flex-direction: column;
    // }
  a{
      font-size: 1rem;
    &.btn{
        margin: 0px 4px;
        margin-bottom: 5px;
        border: 1px solid #e9eef6;
        font-family: font(bold);
        color: color(primary);
        padding: 5px;
        // width: 80px;
        @media(max-width: 767px) {
            font-size: 10px;
        }
        img{
            border-radius: 6px;
        }
    }
  }
}
.collapse{
    .card-body{
        position: relative;
        padding: 10px 15px;
    }
}

body{
    font-family: font(regular);
    font-size: 14px;
}