@font-face{
    font-family: "H_black";
    src: url('../fonts/Heebo-Black.ttf');
}
@font-face{
    font-family: "H_Bold";
    src: url('../fonts/Heebo-Bold.ttf');
}
@font-face{
    font-family: "H_Medium";
    src: url('../fonts/Heebo-Medium.ttf');
}
@font-face{
    font-family: "H_Regular";
    src: url('../fonts/Heebo-Regular.ttf');
}
