footer{
    background-color: color(primary);
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(max-width: 767px) {
        min-height: 70px;
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &.s_links{
           @media(max-width: 767px) {
            margin-top: 20px;
           }

           @include mobiles_s{
               margin: 0px;
               margin-top: 10px;
           }
        }
        @media(max-width: 767px) {
            justify-content: center;
            align-items: flex-end;
        }
        .link_item{
            margin: 0px 16px;
            &:first-child{
                margin-left: 0px;
            }
            @media(max-width: 767px) {
                margin: 0px 8px;
            }

            @include mobiles_s{
                margin: 0px 4px;
            }
            @include tablets_potrait{
                margin: 0 8px;
            }
            a{
                color: #fff;
                font-size: 14px;
                line-height: 18px;
                font-family: font(medium);
                &:hover{
                    text-decoration: underline;
                }
                @media(max-width: 767px) {
                    font-size: 16px;
                }
                @include mobiles_s{
                    font-size: 10px;
                }
                @include tablets_potrait{
                    font-size: 16px;
                }
            }
        }
    }
    .col-md-8{

    }
    .col-md-4{
        display: flex;
        justify-content: flex-end;
        @media(max-width: 767px) {
            justify-content: center;
        }
        // @include mobiles_s{
            //     justify-content: center;
        // }
    }
}