#newsfeed{
    margin: 8px 0px;
    @media(max-width:767px ){
        margin: 10px 0px;
    }
    @include mobiles_s{
       margin-top: 50px;
    }
    nav{
        @media(max-width: 767px) {
            margin: 0px 15px !important;
        }
        .nav{
           
            .nav-item{
                background-color: #e9edf6;
                margin: 0px 4px;
                color: #000;
                font-family: font(medium);
                text-transform: uppercase;
                border-bottom: 1px solid #e9eef6;
                font-size: 14px;
                &.nav-link{
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                    padding: 2px 12px;
                    &.active{
                        // background-color: #c5cad6;
                        color: color(primary);
                    }
                }
            }
        }
    }
        .tab-content{
           background-color: #e9edf6;
           padding: 0px 15px;
           @media(max-width: 767px) {
            margin: 0px 15px !important;
        }
           .tab-pane{
             .content_inner{

                .left_txt,.right_txt{
                    font-family: font(bold);
                    font-size: 14px;
                    line-height: 14px;
                    @media(max-width:1200px){
                        font-size: 10px;
                        line-height: 10px;
                     
                    }
                    @media(max-width: 767px){
                        // font-size: 12px;
                        // line-height: 12px;
                    }
                }

                .news_slider{
                    font-family: font(medium);
                    overflow: hidden;
                    @include mobiles_s{
                        font-size: 12px;
                    }
                  .slide{
                    justify-content: flex-end;

                    .news_brand{
                        img{
                            @include mobiles_s{
                                width: 70px;
                            }
                        }
                    }
                    .txt{
                        font-size: 14px;
                        text-align: right;
                        @media(max-width: 767px) {
                            font-size: 10px;
                        }
                    }
                  }  

                }

                .right_txt{
                    display: flex;
                    justify-content: flex-end;
                    margin-left: auto;
                    // padding-right: 15px;
                    // max-width: 150px !important;
                    position: relative;

                    &::after{
                        content: '';
                        position: absolute;
                        right: 90px;
                        top: 0px;
                        width: 1px;
                        height: 90%;
                        background-color: #000;
                        // @media
                        @media(max-width: 1200px) {
                            right: 50px;
                        }
                        @include mobiles_s{
                        display: none;
                        }
                    }
                }
             }
           }
       } 
}

@media(max-width: 1024px) {
    .lg-s{
        display: block;
    }
    .lg-d {
        display: none;
    }
}
@media(min-width: 1025px) {
    .lg-s{
        display: none;
    }
    .lg-d {
        display: block;
    }
}
.slick-slide{
    outline: none;
}
// .tab-content{
//     background-color: #e9edf6;
//     .tab-pane{

//     }
// } 

.content_inner{
    .col-md-1{
        display: flex;
        align-items: center;
    }
}
.p{
    padding: 0 !important;
}