
.col-lg-3{
    &.sidebar_right{
        padding: 0 !important;

        .sidebar-item {
            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 100%;
            // height: 100%;
            @media(max-width: 991px) {
                position: relative;
            }
            .make-me-sticky {
            //   position: -webkit-sticky;
            //   position: sticky;
            //   top: 20px;
             @media(max-width: 991px) {
                position: static;
                top: 0;
             }
              .reg_btn{
                text-align: center;
                margin-bottom: 10px;
                .btn{
                    background-color: color(brand);
                    display: inline-block;
                    width: 178px;
                    height: 45px;
                    border-radius: 5px 0px 0px 5px;
                    &.log{
                        border-radius: 0px 5px 5px 0px;
                    }

                    @include tablets_potrait{
                        margin: 0;
                        margin: 10px 0px;
                    }
                    @media(max-width:767px) {
                        margin: 10px 0px;
                    }
                    a{
                        font-size: 1.2rem;
                        padding: 30px;
                        color: #fff;
                    }
                }
                }

               .sign{
                   &.card{
                       padding: 0px;
                       border: 1px solid #e9eef6;
                   }
                .sign_btn{
                    a{
                       
                        font-size: 1.2rem;
                        font-family: font(bold);
                        &.btn{
                            background-color: color(secondary);
                            color: #fff;
                            padding: 15px;
                        }
                    }
                }
                .sign_content{
                    padding: 16px 10px;
                    background-color: #e9edf6;

                    .txt{
                        font-size: 1.2rem;
                        font-family: font(bold);
                        color: color(primary);
                    }
                    .sign_btn{
                        background-color: color(primary);
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        line-height: 30px;
                        color: #fff;
                        margin: auto;
                    }
                }
                .sign_content_row{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    padding: 10px;
                    .btn{
                        margin: 0px 4px;
                        margin-bottom: 5px;
                        border: 1px solid #e9eef6;
                        font-family: font(bold);
                        color: color(primary);
                        position: relative;
                        
                        .close{
                            position: absolute;
                            font-size: 0.8em;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            line-height: 20px;
                            // padding: 8px;
                            text-align: center;
                            background-color: #8faad2;
                            top: -10px;
                        }
                    }
                }

                .sign_content_bottom{
                    padding: 15px;
                    display: flex;

                    span{
                        font-family: font(bold);
                        font-size: 1.2rem;
                    }
                }
               }
               .bank{
                   &.card{
                       padding: 0px;
                   }
                .bank_btn{
                    a{
                       
                        font-size: 1.2rem;
                        font-family: font(bold);
                        &.btn{
                            background-color: color(secondary);
                            color: #fff;
                            padding: 15px;
                        }
                    }
                }
                .bank_content{
                    padding: 10px 0px;

                    .bnk_items{
                      
                        .bnk_item {
                            margin: auto;
                            border: 1px solid #e9eef6;
                            padding: 5px;
                            border-radius: 5px;
                        }
                    }
                }
               }
               .search{
                   overflow: hidden;
                .search_btn{
                    background-color: color(secondary);
                    padding: 10px 0px;
                    a{
                        color: #fff;
                        font-size: 1.2rem;
                        font-family: font(bold);
                    }
                }
                .search_content{
                    nav{
                        .nav-tabs{
                            
                         .nav-item{
                             width: 33.33%;
                             border-left: 1px solid #e9eef6;
                             border-right: 1px solid #e9eef6;
                             &.active {
                                 background-color: color(one);
                             }
                         }
                        }
                    }
                    .tab-content{
                        // display: none;
                        .tap-pane{
                           
                        }
                    }
                }
               }
            }
          }
    }
}
.search_mark{
    display: flex;
    justify-content: space-between;
    background: #fff;
    // padding: 10px 6px;
    .mark{
        background-color: inherit;
        // .b{
        //    color: color(primary);
        //    font-size: 1.2rem;
        //    font-family: font(bold);
        // }
        // .c{
        //     @extend .b;
        //     color: color(secondary);
        // }

        .txt{
            font-size: 1rem;
            font-family: font(medium);
        }
    }
}
input{
    &.search_input{
        padding: 10px 0px;
        padding-left: 20px;
        border: 1px solid #e9eef6;
        overflow: hidden;
        font-size: 12px;
        &[type=text] {
            // font-size: 12px;
            // color: #ddd;
        }
        &::placeholder{
            color: rgba(0, 0, 0, 0.651);
        }
    }
}
.dep{
    font-size: 1.2rem;
    font-family: font(bold);
}
.d-cal {
    display: flex;
    justify-content: flex-end;
    position: relative;
    .icon {
        position: absolute;
        z-index: 3;
        margin-left: 5px;
        margin-top: 2px;
        i{
            font-size: 12px;
        }
    }
    select{
        // -webkit-appearance: none;
        // -moz-appearance: none;
        appearance: none;
        text-align-last:right;
        padding: 0px 5px;
        position: relative;
        
        &#month{
            width: 90px;
        }
        &#day{
            width: 55px;
        }

        &::before{
            content: '\f078';
            position: absolute;
            left: 0px;
            right: 0px;
            font-weight: 900;
            font-family: "Font Awesome 5 Free";
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            // appearance: visible;
        }
    }
}
.tab-pane{
    padding: 10px 6px;

    .btn{
        background-color: color(secondary);
        color: #fff;
        font-size: 1.2rem;
        font-family: font(medium);
        text-transform: uppercase;
    }
}

.card{
    border: 1px solid #e9eef6;
}